@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans Narrow", serif;
}

body {
    word-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    /* background-color: #000; */
    background-image: url(../images/webback4.png);
    background-size: cover;
}

button {
    cursor: pointer;
}

select {
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    z-index: 99;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.558);
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thumbnail {
    font-size: 2em;
    color:#F5F5F5;
    user-select: none;
    padding-top: 8px;
    margin-left: 40px;
    cursor: pointer;
    height: 65px;
    width: 65px;
}

.navlinks a {
    color: #F5F5F5;
    text-decoration: none;
    border-radius: 0.85rem;
    padding: 7px;
    transition: 0.8s;
}

/* .navbar a:hover {
    transition: 0.8s;
    background-color: #F5F5F5;
    color: #081b31;
} */

.navbar a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: aliceblue;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .7s;
}

.navbar a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navbar a:hover{
    color: #ffff00;
    transition: 1.5s;
    background-color: rgba(240, 248, 255, 0.134);
}

.navbar .navlinks {
    position: relative;
    font-size: 1.1em;
    color: #F5F5F5;
    text-decoration: none;
    margin-left: 100px;
    border: none;
    font-weight: 500;
}

.navbar .logout {
    width: 110px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    color: #f5f5f5;
    margin-left: 200px;
    margin-right: 60px;
    transition: 0.5s;
}

.navbar .logout:hover {
    background-color: #00000062;
    color: #ffff00;
    transform: scale(0.95);
    /* z-index: -1; */
}

.title {
    margin-top: 70px;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
}

.title h1 {
    font-size: 2.5em;
    font-weight: 600;
    width: 90%;
    text-align: center;
    margin-left: 10rem;
}

.title .coins {
    margin-right: 1rem;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #081b31;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}

.bar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 1.5rem;
}

.bar input {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.7rem;
    padding-left: 0.7rem;
    font-size: 1rem;
}

.bar select {
    width: 10%;
    height: 70%;
    border: none;
    border-radius: 0.7rem;
}

.bar select.sort {
    margin: 0 0.4rem 0 0.4rem;
}

.container {
    width: 100%;
    height: 230vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.container .boxes {
    width: 100%;
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .boxes .box {
    background-image: linear-gradient(rgb(160, 0, 160), #0d2c50);
    width: 25%;
    height: 100%;
    margin: 1rem;
    border: none;
    border-radius: 0.8rem;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 1);
    transition: all 0.7s ease-in-out;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.5rem 2rem 1.5rem 2rem;
    text-align: center;
    color: #ffffff;
}

.container .box:hover {
    transform: scale(1.1);
    transition: all 0.7s ease-in-out;
}

.container .box button.buy {
    background-color: #e94560;
    border: none;
    border-radius: 0.8rem;
    padding: 1rem;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.container .box button.buy:hover {
    transform: scale(0.93);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

footer {
    color: #f5f5f5;
}

footer .foot {
    background-color: #081b31;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 400;
}

footer .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100%;
    height: 290px;
}

footer .part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .part a {
    text-decoration: none;
    color: #f5f5f5;
    text-align: left;
    margin-bottom: 3px;
}

footer .part a:hover {
    text-decoration: underline;
}

footer .foot-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

footer .foot-title {
    height: 55px;
}

footer .follow p {
    padding-left: 2rem;
    margin-bottom: 0.2rem;
}

footer .follow a {
    margin: 0.2rem;
}

footer .follow a img {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    /* border-radius: 50%; */
    transition: all 0.3s ease;
}

footer .follow a img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease;
}

.copyright {
    background-color: rgb(1, 14, 29);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}